:root{
  --background-color: #102340;
  --texto: #26f7a6;
}
h2,h4,h5{
  color: var(--texto);
}
body{
  background-color: var(--background-color);
  text-align: center;
}
.box{
  margin-top: 5em;
  padding: 1em;
  box-shadow: 0 3px 25px 3px #111;
}
.robot img{
  height: 20em;
}